body{
    background-color: #EDD263;
}

.single-meal{
    background-color: #fff;
    border-radius: 5px;
    text-decoration: none;
    color: #000;
    padding: 10px;
}

.single-meal img {
    height: 250px;
    overflow: hidden;
}